
.section-about {
    padding-top: 38px;
    padding-left: 56px;
    padding-right: 20px;
    background-image: url(../images/about-section-img-320.png);
    background-size: cover;
    padding-bottom: 36px;
}

@media only screen and (min-width: 464px) {
.section-about {
    padding-top: 81px;
        background-image: url(../images/about-section-img-420.png);
        padding-bottom: 78px;
  }
}

@media only screen and (min-width: 744px) {
    .section-about {
        background-image: url(../images/about-section-img-720.png);
        padding-left: 139px;
        padding-top: 133px;
    }
}

@media only screen and (min-width: 984px) {
    .section-about {
        background-image: url(../images/about-section-img-980.png);
        padding-left: 139px;
        padding-top: 126px;
        padding-bottom: 124px;
    }
}

@media only screen and (min-width: 1248px) {
    .section-about {
        margin-top: 100px;
        background-image: url(../images/about-section-img-1200.png);
        padding-left: 250px;
        padding-top: 126px;
        padding-bottom: 124px;
    }
}


@media only screen and (min-width: 1440px) {
    .section-about {
        padding-left: 335px;

    }
}

.about-company {

    color: #8BAF13;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.section-about-title {
    margin-top: 30px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 249px;

}

@media only screen and (min-width: 464px) {
.section-about-title {
    width: 354px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 744px) {
    .section-about-title {
        width: 535px
    }
}

@media only screen and (min-width: 984px) {
    .section-about-title {
        width: 700px
    }
}

.section-about-text {
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    width: 249px;

}

@media only screen and (min-width: 464px) {
    .section-about-text {
        width: 354px
    }
}

@media only screen and (min-width: 744px) {
    .section-about-text {
        width: 528px
    }
}

@media only screen and (min-width: 984px) {
    .section-about-text {
        width: 763px
    }
}

.section-about-button {
    margin-top: 35px;
    padding: 13px 35px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #799A0D;
    border: none;
    outline: none;
}


