.about-header {
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 15px;


}

@media only screen and (min-width: 1248px) {
.about-header  {
        padding-right: 387px;
  }
}

.header-and-hero-div {
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 20px;
    background-image: url(../images/back-img-320px.png);
    background-size: cover;
    //     background-image: url(../images/back.png), cover;
}

@media only screen and (min-width: 464px) {
.header-and-hero-div {
    background-image: url(../images/back-img-464px.png);
  }
}

@media only screen and (min-width: 744px) {
    .header-and-hero-div {
        background-image: url(../images/back-img-777px.png);
    }
}

@media only screen and (min-width: 984px) {
    .header-and-hero-div {
        background-image: url(../images/back-img-984px.png);
    }
}

@media only screen and (min-width: 1248px) {
    .header-and-hero-div {
        background-image: url(../images/back.png);
        align-items: start;
    }
    
}


.content-header-flex {
    margin-left: 8px;
    display: flex;
    gap: 215px;
}

@media only screen and (min-width: 464px) {
    .content-header-flex {
        gap: 358px;
    }
}

@media only screen and (min-width: 744px) {
    .content-header-flex {
        gap: 658px;
    }
}

@media only screen and (min-width: 984px) {
    .content-header-flex {
        gap: 890px;
    }
}

@media only screen and (min-width: 1248px) {
    .content-header-flex {
        gap: 0px;
        width: 926px;
        align-items: center;
    }
}

.main-icon-logo {
}

.main-icon-logo:hover, .main-icon-logo:focus {
    fill: #5a7405;
}

.header-nav {
    display: none;
}

@media only screen and (min-width: 1248px) {
    .header-nav {

        display: flex;
        color: white;
        text-align: center;
    }
}

.header-nav-ul {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25px;
    margin-right: 171px;
    gap: 23px
}

.header-nav-ul-li {
    transition: all, 200ms;
}

.header-nav-ul-li:hover, .header-nav-ul-li:focus  {
    color: #92b815;

}

.header-contacts {
        display: none;
        gap: 18px;
}

@media only screen and (min-width: 1248px) {
    .header-contacts {
        display: flex;
        color: white;
    }
}

.header-contacts-li {
    display: flex;
    gap: 10px;
    width: 165px;
}

.header-contacts-li-text {}

.section-hero {
    margin-top: 122px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 464px) {
    .section-hero {

        margin-top: 165px;
    }
}

@media only screen and (min-width: 744px) {
    .section-hero {
        align-items: flex-start;
        width: 731px;
        margin-top: 102px;
    }
}

@media only screen and (min-width: 984px) {
    .section-hero {
        align-items: flex-start;
        width: 731px;
        margin-top: 102px;
        margin-right: 229px;
    }
}

@media only screen and (min-width: 984px) {
    .section-hero {
        align-items: flex-start;
        width: 731px;
        margin-top: 102px;
    }
}


.hero-upper-title {
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

@media only screen and (min-width: 464px) {
    .hero-upper-title {
        font-size: 22px;
        letter-spacing: 0.44px;
        text-transform: uppercase;

    }
}




.hero-main-title {
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}



@media only screen and (min-width: 464px) {
    .hero-main-title {
        font-size: 43px;
        letter-spacing: 1.72px;
    }
}

@media only screen and (min-width: 744px) {
    .hero-main-title {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 2.2px;
    }
}


.hero-upper-text {
    color: white;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

@media only screen and (min-width: 464px) {
    .hero-upper-text {
    font-size: 14px;
    }
}

@media only screen and (min-width: 744px) {
    .hero-upper-text {
        font-size: 14px;
        text-align: start;
    }
}

.hero-button {
    margin-bottom: 179px;
    width: 173px;
    border: none;
    border-radius: 3px;
    background: #799A0D;
    margin-top: 25px;
    padding: 13px 15px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all, 200ms;
}



.hero-button:hover, .hero-button:focus {
    background: #5a7405;
}


@media only screen and (min-width: 464px) {
    .hero-button {
    margin-bottom: 222px;
    }
}
.open-modal {
    cursor: pointer;
    padding: 0;
    margin-top: 12px;
    height: 20px;
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 1248px) {
    .open-modal {
        display: none;
    }
}

.backdrop-header-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 100;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.43);
}

.backdrop-header-menu {
    opacity: 0;
    visibility: none;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 100;
}

.backdrop-header-menu {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.25);
    backdrop-filter: blur(0px);
    transform: translateX(0%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.modal-header {
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    height: 100%;
    width: 276px;
    background-color: #1C1C1C;
    top: 0;
    right: 0;
    position: absolute;
}

.button-close-header {

    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    right: 20;
    top: 20

}

.list-nav-modal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding-left: 23px;
    padding-right: 23px;
}

.header-nav-ul-li {

}



.header-nav-ul-li-text {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: 132.5%;
    letter-spacing: 0.07px;


}

.header-modal-nav-ul-li-text::after {
    content: '';
    background: #414141;
    height: 1px;
    display: block;
    margin-top: 15px;
}

.header-modal-title {
    padding-top: 30px;
    color: #8BAF13;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


/**
  |============================
  | MODAL ORDER
  |============================
*/

.modal-order-backdrop {
    background: rgba(0, 0, 0, 0.50);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}



.modal-order {
    position: relative;
    background-image: url(../images/abouthero-back-img-1220.png);
    background-size: cover;
    background-color: #FFF;

    height: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


@media only screen and (min-width: 424px) {
    .modal-order    {
        min-width: 416px;
    }
}

@media only screen and (min-width: 744px) {
    .modal-order {
        width: 690px;
    }
}


.modal-order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-order-form-title {
    color:  #1C1C1C;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.modal-order-form--upper-title {
    margin-top: 15px; 
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
    margin-bottom: 10px;
    max-width: 311px;;

}

.modal-order-form-input {
    margin-top: 15px;
    width: 295px;
    height: 50px;
    padding: 10px 10px 10px 20px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #BCCAD2;
    background: #FFF;
    outline: none;
}

.modal-order-form-input:focus {
    border: 2px solid #799A0D;
}

.modal-order-form-button {
    margin-top: 15px;
    width: 295px;
    height: 45px;
    border-radius: 4px;
    background:  #799A0D;
    border: none;
    outline: none;
    color:  #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms;
}

.modal-order-form-button:hover, .modal-order-form-button:focus {
    background-color: #5a7405;
}
.modal-order-form-chekbox-div {
    gap: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    max-width: 290px;
}


.modal-order-form-chekbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-order-form-chekbox-text {
    color: #1C1C1C;
    font-size: 12px;
    font-style: normal;
    font-weight: 350;
    line-height: 17px;
}

.modal-order-form-close-button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background:  #FFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 21px;
}


.header-modal-information {
    padding-left: 23px;
    display: flex;
    flex-direction: column;
}

.header-modal-information-tel {
    color:  #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.07px;
}

.header-modal-information-time {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.07px;
}

.header-modal-information-button {
    margin-top: 16px;
    width: 230px;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.5%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 4px;
    background: #799A0D;
    border: none;
    outline: none;
}