.swiper-section {
    padding-left: 3px;
    padding-right: 0px;
    padding-top: 82px;
    padding-bottom: 70px;
}

.container {}

.content {}

.products-swiper-title {
    color:#1C1C1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (min-width: 744px) {
.products-swiper-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1248px) {
    .products-swiper-title {
        font-size: 34px;
        padding-top: 0px;
    }
}

.products-swiper-list {
    padding-left: 9px;
    gap: 16px;
    display: flex;
    margin-top: 100px;
}

@media only screen and (min-width: 1248px) {
.products-swiper-list {
    gap: 28px;
  }
}

.cards-container-item {
    max-width: 128px;
    height: 302px;
}

@media only screen and (min-width: 744px) {
.cards-container-item {
    max-width: 216px;
    height: 362px;
  }
}

@media only screen and (min-width: 1248px) {
.cards-container-item {
    max-width: 264px;
    height: 465px;
  }
}

.img-div {
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.10);
    width: 128px;
    height: 151px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 744px) {
.img-div {
    width: 216px;
    height: 257px;
    
  }
}

@media only screen and (min-width: 1248px) {
.img-div    {
    width: 264px;
    height: 315px;
    }
}



.img-swiper-section {

    width: 117px;
    height: 90px;
}

@media only screen and (min-width: 744px) {
    .img-swiper-section {
    width: 198px;
    height: 154.2px;

    }
}

@media only screen and (min-width: 1248px) {
    .img-swiper-section {
    width: 242px;
    height: 189px;

    }
}



.cards-container-item-small-text {
    margin-top: 13px;
    color: #1C1C1C;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.22px;
}

@media only screen and (min-width: 464px) {
    .cards-container-item-small-text {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1248px) {
    .cards-container-item-small-text {
        font-size: 16px;
    }
}

.cards-container-item-big-text {
    margin-top: 7px;
    color: #1C1C1C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;

}

@media only screen and (min-width: 464px) {
    .cards-container-item-big-text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1248px) {
    .cards-container-item-big-text {
        font-size: 18px;
    }
}

.swiper {
    max-width: 319px;
    padding-left: 9px;
    padding-right: 9px;
}

@media only screen and (min-width: 464px) {
.swiper {
    max-width: 470px;
  }
}

@media only screen and (min-width: 744px) {
    .swiper {
        max-width: 736px;
    }
}

@media only screen and (min-width: 984px) {
    .swiper {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1248px) {
    .swiper {
        max-width: 1200px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: 52px
}

.swiper-pagination-bullet-active {
    background: #799A0D;
}

.swiper-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1248px) {
.swiper-section-content {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 744px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-width: 1248px) {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}