<section class="about-information container">
  <div class="content about-information-content">
    <h2 class="about-information-title">«М-Інвест»</h2>
    <p class="about-information-upper-title">
      Товариство з обмеженою відповідальністю
    </p>
    <p class="about-information-main-text">
      Компанія ТОВ «М-Інвест» здійснює свою діяльність з жовтня 2005 року, а з
      2010 року є орендарем лісової ділянки площею 7500 га, річний обсяг рубки
      становить 25 000 м.куб., крім того, компанія бере активну участь на
      аукціонах купівлі-продажу деревини. Сукупний обсяг рубки становить 45000
      м.куб. на рік. У власності компанії є три пилорами (Р63-4Б, дискова
      пилорама ЦДС-1100, стрічкова пилорама Wood-maizer), дві автоматичні лінії
      по розпилюванню лафета на пиломатеріал обрізний (виробництво Алтайтехмаш),
      лінія зі збирання різних видів дерев'яної тари з використанням пневмої.
    </p>
    <p class="about-information-main-text">
      Крім того в компанії знаходяться 5 автомобілів МАЗ з напівпричепами, 6
      автомобілів Урал з маніпулятором, трактори Т-170, Т-150, трелювальник
      ТДТ-55, 24 одиниці МТЗ-82, навантажувачі В-138.00010 та вилковий
      навантажувач, щодня працюють. . У компанії є всі цикли лісогосподарської
      діяльності, починаючи з лісовідновлення та супутніх йому робіт, до рубання
      стиглих насаджень. Щорічний обсяг лісовідновлення становить 54га. Також ми
      займаємося роздрібною та оптовою торгівлею будівельних матеріалів,
      перевезенням вантажів спеціалізованими транспортними засобами. Наявні
      потужності компанія дозволяють своєчасно виконувати свої зобов'язання.
      Наша компанія зарекомендувала себе на ринку як надійного партнера та
      гарантованого постачальника якісної продукції. Ми маємо великий позитивний
      досвід з багатьма організаціями як у Нижегородській області, так і по всій
      Росії, серед них фанерні заводи ТОВ «Мануфактура» та ЗАТ «Плайтерра», ДК
      Газпром, ТОВ «Пешеланський гіпсовий завод», ТОВ «Стора Енсо Пакаджинг ББ
      », ТОВ «Діверус», ТОВ «Платан», ЗАТ «ТрансРегіонЦентр» та багатьма іншими.
      Основними принципами нашої роботи у питаннях взаємодії з партнерами є:
      гарантоване виконання своїх зобов'язань, чесність та порядність. Наші
      партнери дають високу оцінку нашій продукції та, як правило, працюють з
      нами довгі роки.
    </p>
  </div>
</section>
