<div class="container about-header">
  <header class="header-section">
    <div class="content-header-flex">
      <a href="./index.html">
        <svg class="main-icon-logo" width="40px" height="40px">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="open-modal" data-menu-open>
        <svg class="open-modal-icon" width="24" height="16">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <nav class="header-nav">
        <ul class="header-nav-ul">
          <li class="header-nav-ul-li">
            <a href="./aboutcompany.html" class="header-nav-ul-li-text"
              >Про компанію</a
            >
          </li>
          <li class="header-nav-ul-li">
            <a href="" class="header-nav-ul-li-text">Доставка та оплата</a>
          </li>
          <li class="header-nav-ul-li">
            <a href="" class="header-nav-ul-li-text">Контакти</a>
          </li>
        </ul>
      </nav>
      <ul class="header-contacts">
        <li class="header-contacts-li">
          <svg class="header-contacts-li-clock" width="20" height="20">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
          <p class="header-contacts-li-text">Пн-Вс 9:00 - 19:00</p>
        </li>
        <li class="header-contacts-li">
          <svg class="header-contacts-li-phone" width="20" height="20">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <p class="header-contacts-li-text">+7 800 888 88 88</p>
        </li>
      </ul>
    </div>
  </header>
</div>
