<section class="section-about container">
  <div class="content">
    <div class="section-about-content">
      <p class="about-company">Про компанію</p>
      <h3 class="section-about-title">
        Quam adipisci velit, sed quia numquam eius modi tempora incidunt!
      </h3>
      <p class="section-about-text">
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
        explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
        odit aut fugit, sed quia est.
      </p>
      <button class="section-about-button" type="button">детальніше</button>
    </div>
  </div>
</section>
