<section class="footer-section container">
  <div class="content content-footer">
    <div class="logo-div">
      <svg class="" width="40" height="40">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>

      <p class="first-footer-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>
    <ul class="footer-list">
      <li class="footer-list-item">
        <h3 class="footer-list-item-title">ПРОДУКЦІЯ</h3>
        <a href="" class="footer-list-item-text">Пиловник</a>
        <a href="" class="footer-list-item-text">Вугілля</a>
        <a href="" class="footer-list-item-text">Пиломатеріали</a>
        <a href="" class="footer-list-item-text">Європіддони</a>
        <a href="" class="footer-list-item-text">Тех. Лежня</a>
      </li>
      <li class="footer-list-item">
        <h3 class="footer-list-item-title">Інформація</h3>
        <a href="" class="footer-list-item-text">О компанії</a>
        <a href="" class="footer-list-item-text">Доставка та оплата</a>
        <a href="" class="footer-list-item-text">Контакти</a>
      </li>
      <li class="footer-list-item">
        <h3 class="footer-list-item-title">КОНТАКТИ</h3>
        <p class="footer-list-item-text">info@form.com</p>
        <p class="footer-list-item-text">882-587-3025</p>
        <p class="footer-list-item-text">6116 Willa River Suite 610</p>
      </li>
    </ul>
  </div>
</section>
