<section class="header-section container">
  <img class="back-img" src="./images/back.png" alt="back-img" />
  <svg class="back-svg-hero" width="1169px" height="690px">
    <use href="./images/sprite.svg#icon-Rectangle-2411"></use>
  </svg>
  <div class="content">
    <div class="content-header-flex">
      <svg class="main-icon-logo" width="40px" height="40px">
        <use href="./images/sprite.svg#main-icon"></use>
      </svg>
      <nav class="header-nav">
        <ul class="header-nav-ul">
          <li class="header-nav-ul-li">
            <a class="header-nav-ul-li-text">Про компанію</a>
          </li>
          <li class="header-nav-ul-li">
            <a class="header-nav-ul-li-text">Доставка та оплата</a>
          </li>
          <li class="header-nav-ul-li">
            <a class="header-nav-ul-li-text">Контакти</a>
          </li>
        </ul>
      </nav>
      <ul class="header-contacts">
        <li class="header-contacts-li">
          <p class="header-contacts-li-text">Пн-Вс 9:00 - 19:00</p>
        </li>
        <li class="header-contacts-li">
          <p class="header-contacts-li-text">+7 800 888 88 88</p>
        </li>
      </ul>
    </div>
  </div>
</section>
