<div class="header-and-hero-div container">
  <header class="header-section">
    <div class="content-header-flex">
      <a href="./index.html">
        <svg class="main-icon-logo" width="40px" height="40px">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="open-modal" data-menu-open>
        <svg class="open-modal-icon" width="24" height="16">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <nav class="header-nav">
        <ul class="header-nav-ul">
          <li class="header-nav-ul-li">
            <a
              href="./aboutcompany.html"
              class="header-nav-ul-li-text header-nav-ul-li"
              >Про компанію</a
            >
          </li>
          <li class="header-nav-ul-li">
            <a href="#footer" class="header-nav-ul-li-text header-nav-ul-li"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-contacts">
        <li class="header-contacts-li">
          <svg class="header-contacts-li-clock" width="20" height="20">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
          <p class="header-contacts-li-text">Пн-Вс 9:00 - 19:00</p>
        </li>
        <li class="header-contacts-li">
          <svg class="header-contacts-li-phone" width="20" height="20">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <p class="header-contacts-li-text">+7 800 888 88 88</p>
        </li>
      </ul>
    </div>
  </header>

  <section class="section-hero">
    <h2 class="hero-upper-title">НАША КОМПАНІЯ ЗАЙМАЄТЬСЯ</h2>
    <h1 class="hero-main-title">ЛІСОЗАГОТІВЛЕЙ</h1>
    <p class="hero-upper-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam blanditiis
      necessitatibus <br />
      voluptas alias ab hic deleniti atque soluta architecto iure!
    </p>
    <button type="button" class="hero-button">Залишити заявку</button>
  </section>
</div>

<div class="backdrop-header-menu" data-menu>
  <div class="modal-header">
    <button class="button-close-header" type="button" data-menu-close>
      <svg class="" width="30" height="30">
        <use href="./images/sprite.svg#icon-close-icon"></use>
      </svg>
    </button>

    <nav>
      <h2 class="header-modal-title">Розділи</h2>
      <ul class="list-nav-modal">
        <li class="header-nav-ul-li">
          <a
            href="./aboutcompany.html"
            class="header-nav-ul-li-text header-modal-nav-ul-li-text header-nav-ul-li"
            >Про компанію</a
          >
        </li>
        <li class="header-nav-ul-li">
          <a
            href="#footer"
            class="header-nav-ul-li-text header-modal-nav-ul-li-text header-nav-ul-li"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-modal-information">
      <p class="header-modal-information-tel">
        Ми працюємо: пн-нд 9:00 - 19:00
      </p>
      <p class="header-modal-information-time">Телефон: +7 800 888 88 88</p>
      <button class="header-modal-information-button">Залишити заявку</button>
    </div>
  </div>
</div>

<div class="modal-order-backdrop">
  <div class="modal-order">
    <form class="modal-order-form">
      <button type="button" class="modal-order-form-close-button">
        <svg class="" width="14" height="14">
          <use href="./images/sprite.svg#icon-close-icon"></use>
        </svg>
      </button>
      <h2 class="modal-order-form-title">Заповніть форму</h2>
      <p class="modal-order-form--upper-title">
        І найближчим часом співробітник нашої компанії зв'яжеться з Вами
      </p>
      <input
        class="modal-order-form-input"
        required
        type="text"
        placeholder="Ім'я"
      />
      <input
        class="modal-order-form-input"
        required
        type="tel"
        placeholder="Телефон"
      />
      <input
        class="modal-order-form-input"
        required
        type="email"
        placeholder="Email"
      />
      <button class="modal-order-form-button" type="submit">Відправити</button>

      <div class="modal-order-form-chekbox-div">
        <input required class="modal-order-form-chekbox" type="checkbox" />
        <p class="modal-order-form-chekbox-text">
          Надсилаючи цю форму, ви даєте свою згоду на обробку персональних даних
          відповідно до нашої Політики конфіденційності.
        </p>
      </div>
    </form>
  </div>
</div>
