<section class="swiper-section container">
  <div class="content">
    <h2 class="products-swiper-title">Наша продукція</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <!-- Slides -->
      <div class="swiper-pagination"></div>
      <ul class="swiper-wrapper products-swiper-list">
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
        <li class="swiper-slide cards-container-item">
          <div class="img-div">
            <img
              class="img-swiper-section"
              src="./images/coal.png"
              alt="coal"
            />
          </div>
          <p class="cards-container-item-small-text">Уголь древесный</p>
          <p class="cards-container-item-big-text">
            Уголь для промышленных предприятий мелкой фракции
          </p>
        </li>
      </ul>
      <!-- If we need pagination -->

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
