<div class="swiper-section container">
  <div class="content">
    <h2 class="products-swiper-title">Наша продукція</h2>
    <ul class="cards-container">
      <li class="cards-container-item">
        <div class="img-div">
          <img src="./images/coal.png" alt="coal" />
        </div>
        <p class="cards-container-item-small-text">Уголь древесный</p>
        <p class="cards-container-item-big-text">
          Уголь для промышленных предприятий мелкой фракции
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- 
    <div class="swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <ul class="first-slide-ul">
            <li class="first-slide-ul-item">12</li>
            <li class="first-slide-ul-item">13</li>
            <li class="first-slide-ul-item">14</li>
            <li class="first-slide-ul-item">15</li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="first-slide-ul">
            <li class="first-slide-ul-item">16</li>
            <li class="first-slide-ul-item">17</li>
            <li class="first-slide-ul-item">18</li>
            <li class="first-slide-ul-item">19</li>
          </ul>
        </div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div> -->
