<section class="section-products container">
  <ul class="products-list">
    <li class="products-list-item firts-in-list-product">
      <svg class="products-list-svg" width="10" height="10">
        <use href="./images/sprite.svg#icon-Group"></use>
      </svg>
      <h4 class="products-list-item-title firts-in-list-product-title">
        Пиловник хвойних порід
      </h4>
      <p class="products-list-item-text">
        Сьогодні цей текст використовують практично всі дизайнери, які набирають
        рибу латиницею.
      </p>
    </li>
    <li class="products-list-item">
      <svg class="products-list-svg" width="10" height="10">
        <use href="./images/sprite.svg#icon-Group-1"></use>
      </svg>
      <h4 class="products-list-item-title second-in-list-product-title">
        Вугілля деревне
      </h4>
      <p class="products-list-item-text">
        Сьогодні цей текст використовують практично всі дизайнери, які набирають
        рибу латиницею.
      </p>
    </li>
    <li class="products-list-item">
      <svg class="products-list-svg" width="10" height="10">
        <use href="./images/sprite.svg#icon-Group-2"></use>
      </svg>
      <h4 class="products-list-item-title third-in-list-product-title">
        Пиломатеріали
      </h4>
      <p class="products-list-item-text">
        Сьогодні цей текст використовують практично всі дизайнери, які набирають
        рибу латиницею.
      </p>
    </li>
    <li class="products-list-item forth-in-list-product">
      <svg class="products-list-svg" width="10" height="10">
        <use href="./images/sprite.svg#icon-Group-3"></use>
      </svg>
      <h4 class="products-list-item-title forth-in-list-product-title">
        Європіддони
      </h4>
      <p class="products-list-item-text">
        Сьогодні цей текст використовують практично всі дизайнери, які набирають
        рибу латиницею.
      </p>
    </li>
    <li
      class="products-list-item last-in-list-product-title firts-in-list-product"
    >
      <svg class="products-list-svg" width="10" height="10">
        <use href="./images/sprite.svg#icon-Group-4"></use>
      </svg>
      <h4 class="products-list-item-title firts-in-list-product-title">
        Техн.деревина "лежня"
      </h4>
      <p class="products-list-item-text">
        Сьогодні цей текст використовують практично всі дизайнери, які набирають
        рибу латиницею.
      </p>
    </li>
  </ul>
</section>
